<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="jquery.devrama.slider.min-0.9.4.js"></script>

<body>
        <style>
		.example-animation {
			color: #FFF;
			font-size: 60px;
        }
		</style>
        <div class="example-animation">
            <div data-lazy-background="http://devrama.com/static/devrama-slider/images/4247776023_81a3f048ca_b.png">
                <h3 data-pos="['0%', '110%', '0%', '5%']" data-duration="700" data-effect="move">
                    Moving
                </h3>
                <div data-pos="['-30%', '25%', '40%', '25%']" data-duration="700" data-effect="move">
                    Text
                </div>
                <div data-pos="['56%', '-40%', '56%', '11%']" data-duration="700" data-effect="move">
                    and Image
                </div>
                <div data-pos="['23%', '110%', '23%', '42%']" data-duration="700" data-effect="move">
                    <img data-lazy-src="http://www.gravatar.com/avatar/fe3f1273001cb2e9ed9c9b067fcb1fd4?s=200"/>
                </div>
            </div>
            <div data-lazy-background="http://devrama.com/static/devrama-slider/images/4247776023_81a3f048ca_b.png">
                <h3 data-pos="['0%', '8%']" data-duration="1000" data-effect="fadein">
                    Fadein
                </h3>
                <div data-pos="['44%', '15%']" data-duration="700" data-effect="fadein">
                    Text
                </div>
                <div data-pos="['66%', '11%']" data-duration="700" data-effect="fadein">
                    and Image
                </div>
                <div data-pos="['29%', '46%']" data-duration="700" data-delay="500" data-effect="fadein">
                    <img data-lazy-src="http://www.gravatar.com/avatar/fe3f1273001cb2e9ed9c9b067fcb1fd4?s=200"/>
                </div>
            </div>
             
        </div>
		
		<p><a href="http://devrama.com/static/devrama-slider/example-elements-animation">http://devrama.com/static/devrama-slider/example-elements-animation</a></p>
         
        <script type="text/javascript">
            $(document).ready(function(){
                $('.example-animation').DrSlider(); //Yes! that's it!
            });
        </script>
    </body>