.login h1 a{background:url('http://beatnhac.com/wp-content/uploads/2016/01/ubuntu-logo32.png');background-size:contain;}
body{height: auto;min-height: 100%;background: rgba(63,204,185,1);
background: -moz-linear-gradient(45deg, rgba(63,204,185,1) 0%, rgba(120,204,196,1) 62%, rgba(101,179,174,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(63,204,185,1)), color-stop(62%, rgba(120,204,196,1)), color-stop(100%, rgba(101,179,174,1)));
background: -webkit-linear-gradient(45deg, rgba(63,204,185,1) 0%, rgba(120,204,196,1) 62%, rgba(101,179,174,1) 100%);
background: -o-linear-gradient(45deg, rgba(63,204,185,1) 0%, rgba(120,204,196,1) 62%, rgba(101,179,174,1) 100%);
background: -ms-linear-gradient(45deg, rgba(63,204,185,1) 0%, rgba(120,204,196,1) 62%, rgba(101,179,174,1) 100%);
background: linear-gradient(45deg, rgba(63,204,185,1) 0%, rgba(120,204,196,1) 62%, rgba(101,179,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fccb9', endColorstr='#65b3ae', GradientType=1 );}
p#backtoblog {
    margin: 0;
}
.login #backtoblog {
    max-width: 140px;
    word-wrap: break-word;
    white-space: nowrap;
}
form#loginform > :nth-child(3),form#loginform > :nth-child(4) {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
input#wp-submit {
    color: white;
    background: #DD4814;
    border: 1px solid #C15630;
    box-shadow: none;
    text-shadow: none;
}
#login {
    width: 500px;
}
.login form#loginform {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}
.login label[for='user_login'] {
}
.newsociallogins {
    position: absolute;
    bottom: 47px;
    right: 30px;
}

.login #login_error, .login .message {
}
input#user_login {
}

.aiowps-captcha-equation {
    padding: 0 20px 20px 0px;
}
.login h3 {
    display: none;
}
.login #nav {
    display: inline-block;
}

.login #backtoblog, .login #nav {
    display: inline-block;
    padding: 0px 10px 20px;
}

.login #backtoblog a, .login #nav a {
    color: #375855;
    font-weight: 600;
}

.login #backtoblog a:hover, .login #nav a:hover {
    color: #fff;
}

.login form input[type=checkbox] {
    width: 15px;
    height: 15px;
    min-width: auto;
}

input[type=checkbox]:checked:before {
    font-size: 21px;
}
.login label {
    font-size: 11px;
    color: #6C7B7A;
    text-transform: uppercase;
    font-weight: 600;
}

#login form p {
    padding: 10px 20px 10px 0;
    display: inline-block;
}

.login form .input, .login input[type=text] {
    font-size: 13px;
    margin: 6px 0 0 0;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: 600;
    color: #382F32;
}